<h1>Listing lpuzzles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Question</th>
    <th>Solution</th>
    <th>Hint</th>
    <th>Difficulty</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lpuzzles.each do |lpuzzle| %>
  <tr>
    <td><%= lpuzzle.title %></td>
    <td><%= lpuzzle.question %></td>
    <td><%= lpuzzle.solution %></td>
    <td><%= lpuzzle.hint %></td>
    <td><%= lpuzzle.difficulty %></td>
    <td><%= lpuzzle.image_url %></td>
    <td><%= link_to 'Show', lpuzzle %></td>
    <td><%= link_to 'Edit', edit_lpuzzle_path(lpuzzle) %></td>
    <td><%= link_to 'Destroy', lpuzzle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lpuzzle', new_lpuzzle_path %>
