
<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>
 
<table>
 
  <% @lpuzzles.each do |lpuzzle| %>
    <div class="entry">
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    
    <td>
      <%= link_to image_tag(lpuzzle.image_url, class: 'list_image'), lpuzzle %> 
    </td>


    <td class="list_description"> 
      <dl>
        <dt style="margin-bottom:5px;"><%= link_to lpuzzle.title, lpuzzle %></dt>
        <dd style="margin-bottom:5px; color:#faf1f1;"><%= truncate(strip_tags(lpuzzle.question), length: 300) %></dd>
        <dd style="color:#400a6e;">Difficulty: <%=lpuzzle.difficulty%></dd>
      </dl> 
    </td>

    <td class="list_actions">
      <%= link_to 'Edit', edit_lpuzzle_path(lpuzzle) %><br/> 
      <%= link_to 'Delete', lpuzzle, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</div>
<% end %> 
</table>
<br />

<%= link_to 'Add another Lateral Puzzle', new_lpuzzle_path %>
