
<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>
 
<table>
 
  <% @mpuzzles.each do |mpuzzle| %>
    <div class="entry">
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    
    <td>
      <%= link_to image_tag(mpuzzle.image_url, class: 'list_image'), mpuzzle %> 
    </td>


    <td class="list_description"> 
      <dl>
        <dt style="margin-bottom:5px;"><%= link_to mpuzzle.title, mpuzzle %></dt>
        <dd style="margin-bottom:5px; color:#faf1f1;"><%= truncate(strip_tags(mpuzzle.question), length: 300) %></dd>
        <dd style="color:#400a6e;">Difficulty: <%=mpuzzle.difficulty%></dd>
      </dl> 
    </td>

    <td class="list_actions">
      <%= link_to 'Edit', edit_mpuzzle_path(mpuzzle) %><br/> 
      <%= link_to 'Delete', mpuzzle, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</div>
<% end %> 
</table>
<br />

<%= link_to 'Add another Mathematical Puzzle', new_mpuzzle_path %>