
<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>
 
<table>
 
  <% @puzzles.each do |puzzle| %>
    <div class="entry">
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    
    <td>
      <%= link_to image_tag(puzzle.image_url, class: 'list_image'), puzzle %> 
    </td>


    <td class="list_description"> 
      <dl>
        <dt style="margin-bottom:5px;"><%= link_to puzzle.title, puzzle %></dt>
        <dd style="color:#faf1f1;"><%= truncate(strip_tags(puzzle.question), length: 300) %></dd>
      </dl> 
    </td>
  </tr>
</div>
<% end %> 
</table>
<br />
<p><%= will_paginate @puzzles %></p>