<!DOCTYPE html>
<html>
<head>
<title>PuzzleBlog</title>
<%= stylesheet_link_tag "application", :media => "all" %> 
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>


<body class='<%= controller.controller_name %>'>
	<div class="container">

		<header>
			<div id="banner">
				<%= @page_title || "Puzzle Blog" %>
			</div>
		</header>


		<div id="main1"> 

			<%= yield %>
		</div>


					<footer class="footer">
 						<p>Being developed and maintained by Sharath Pandeshwar @<a href="http://www.infinitec.in" target="_blank">InfiniTec</a></p>  
					</footer>
</body>
</html>