<!DOCTYPE html>
<html>
<head>
<title>PuzzleBlog</title>
<%= stylesheet_link_tag "application", :media => "all" %> 
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>


<body class='<%= controller.controller_name %>'>
	<div class="container">

		<header>
			<div id="banner">
				<%= @page_title || "Puzzle Blog" %>
			</div>
		</header>


		<div id="main1"> 
			<table>
				<tr>
					<td width="80%" height="100%"><%= yield %></td>
					<td height="898px">
						

						<table class="leftcolor" width="100%" height="90.9%">
       						<td>
								<div style="clear:none;height:10px;"></div>
								<nav id="round"> 
									<ul>
										<li><%= link_to "Home", root_path%></li>
										<li><a href="#">Help</a></li>  
										<li><a href="#">Sign In</a></li>
									</ul> 
								</nav>
       	 					</td>
						</table>				
					</td>
				</tr>
			</table>
		</div>


					<footer class="footer">
 						<p>Being developed and maintained by Sharath Pandeshwar @<a href="http://www.infinitec.in">InfiniTec</a></p>  
					</footer>
</body>
</html>