

 
<table>
 
  <% @puzzles.each do |puzzle| %>
    
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    
    <td>
      <%= image_tag(puzzle.image_url, class: 'list_image') %> 
    </td>


    <td class="list_description"> 
      <dl>
        <dt><%= link_to puzzle.title, puzzle %></dt>
        <dd><%= truncate(strip_tags(puzzle.question), length: 100) %></dd>
      </dl> 
    </td>

    <td class="list_actions">
      <%= link_to 'Edit', edit_puzzle_path(puzzle) %><br/> 
      <%= link_to 'Delete', puzzle, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %> 
</table>
<br />

<%= link_to 'Add puzzle', new_puzzle_path %>

