
<div class="show_image">
  <%= image_tag(@puzzle.image_url) %>
</div>


<p>
  <strong>Title:</strong>
  <br/>
  <%= @puzzle.title %>
</p>
 
<p>
  <strong>Puzzle:</strong>
  <br/>
  <%= @puzzle.question %>
</p>

<p>
  <strong>Solution:</strong>
  <br/>
  <%= @puzzle.solution %>
</p>

<p>
  <strong>Difficulty:</strong>
  <br/>
  <%= @puzzle.difficulty %>
</p>

<%= link_to 'Show All', puzzles_path %>
