
<h3 class="show_title">  <%= @puzzle.title %>  </h3>


<div class="show_image">
  <%= image_tag(@puzzle.image_url, size: "225x225") %>
</div>

<p>
  <strong>Puzzle:</strong>
  <br/>
  <%= sanitize(@puzzle.question) %>
</p>

<%= button_to_function "View/Hide Solution", "$('#solution').toggle()" %>

<p id="solution" style="display:none;">
  <strong>Solution:</strong>
  <br/>
  <%= sanitize(@puzzle.solution) %>
</p>

<p>
  <strong>Difficulty:</strong>
  <br/>
  <%= @puzzle.difficulty %>
</p>

<%= link_to 'Edit', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Back', puzzles_path %>
