
<h1 class="show_title">  <%= @puzzle.title %>  </h1>


<div class="show_image">
  <%= image_tag(@puzzle.image_url, size: "225x225") %>
</div>

<p>
  <strong>Puzzle:</strong>
  <br/>
  <%= @puzzle.question %>
</p>

<p>
  <strong>Solution:</strong>
  <br/>
  <%= @puzzle.solution %>
</p>

<p>
  <strong>Difficulty:</strong>
  <br/>
  <%= @puzzle.difficulty %>
</p>

<%= link_to 'Show All', puzzles_path %>
